/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: "Avenir Next Condensed";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}


/* Início */
header{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	height: 70px;
	-webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

div.center{
	max-width: 900px;
	padding: 10px;
	height: calc(100% - 20px);/* CÁLCULO UTILIZADO PARA TIRAR OS 20px DO PADDING */
	margin: auto;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}

header div.center div#logo{
	width: 120px;
	background-image: url("../images/logo-actioncode-branco.png");
	background-repeat:no-repeat;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	-o-background-size:contain;
	background-size:contain;
	background-position: left center;
	image-rendering: optimizeQuality;
	-webkit-transition: background-image 0.5s;
    -moz-transition: background-image 0.5s;
    -ms-transition: background-image 0.5s;
    -o-transition: background-image 0.5s;
    transition: background-image 0.5s;
    flex-grow: 1;
}


header div.center div#menu{
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}

header div.center div#menu nav{
	float: right;
}


header div.center div#menu a{
	line-height: 20px;
	padding: 15px;
	display: block;
	color: #FFF;
	font-size: 18px;
	float: left;
	-webkit-transition: line-height 0.5s;
    -moz-transition: line-height 0.5s;
    -ms-transition: line-height 0.5s;
    -o-transition: line-height 0.5s;
    transition: line-height 0.5s;
}

header div.center div#menu a:hover{
	color: #222;
}

header.smaller{
	background-color: #FFF;
	box-shadow: 0px 1px 10px #555;
}

header.smaller div.center div#logo{
	background-image: url("../images/logo-actioncode.png");
}
header.smaller div.center div#menu nav a{
	color: #555;
}

header.smaller div.center div#menu nav a:hover{
	color: #E0821B;
}


section{
	width: 100%;
	height: 550px;
	background-color: gray;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
}

section#firstSection {
	padding-top: 120px;
	height: auto;
	padding-bottom: 70px;
	background-color: #AAA;
}

section#firstSection div.center{
	flex-flow: row wrap;
	align-items: center;
}

section#firstSection div#textSection1{
	width: 400px;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

section#firstSection div#textSection1 h1{
	font-size: 65px;
	line-height: normal;
	font-weight: 300;
	
}

section#firstSection div#textSection1 h3{
	font-size: 30px;
	line-height: normal;
	text-align: left;

}


section#firstSection div#imageSection1{
	float: right;
	width: 500px;
	height: 300px;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

section#secondSection {
	background-color: orange;
}

section#thirdSection {
	background-color: red;
}

footer{
	height: 300px;
	background-color: orange;
}

